<div [@pageTransition]>
<app-modal [show]="showModal" (closeModal)="onModalCloseHandler($event)" size="xl:max-w-7x1" confirmBtn="Pay Bill" confirmBtnColors="btn btn-primary me-2">
   <ul class="divide-y divide-gray-300 max-w-sm mt-0 mx-auto px-4 w-full">
      <li class="py-4">
         <div class="flex items-center space-x-4">
            <div
               class="mx-auto item-center flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-blue-100 sm:mx-0 sm:h-10 sm:w-10">
               <i class="bi bi-exclamation-circle"></i>
            </div>
            <span class="text-lg font-bold">{{ "Client Information" }}</span>
         </div>
   
         <ul class="divide-y divide-gray-300 bg-gray-50 rounded-md px-4 py-2 mt-4">
            <li class="py-2">
               <div class="flex items-center space-x-4">
                     <span class="text-md font-medium">{{ "Visit 1" }}</span>
               </div>
            </li>

            <li class="py-2">
               <div class="flex items-center space-x-4">
                     <span class="text-md font-medium">{{ "Encounter 1" }}</span>
               </div>

               <ul class="divide-y divide-gray-300 bg-gray-100 rounded-md px-4 py-2 mt-2">
                  <li class="py-2">
                     <div class="flex items-center space-x-4">
                        <span class="text-sm font-medium">{{ "Observation" }}</span>
                     </div>
                  </li>
                  <li class="py-2">
                     <div class="flex items-center space-x-4">
                        <span class="text-sm font-medium">{{ "Observation" }}</span>
                     </div>
                  </li>
               </ul>
            </li>

            <li class="py-2">
               <div class="flex items-center space-x-4">
                  <span class="text-md font-medium">{{ "Encounter 2" }}</span>
               </div>
            </li>
         </ul>
      </li>
   </ul>
</app-modal>

<div class="card p-5">
      <app-alert [show]="show" [type]="alertType.Danger">
         <p>{{alert_message}}</p>
      </app-alert>
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none mb-5">{{ "Select input" }}</h3>
      </div>
      <div class="flex">
         <form class="max-w-sm">
            <label for="countries" class="form-label">
               {{ "Select Insurance" }}
            </label>
            <select name="selectedInsurance" class="form-select" [(ngModel)]="selectedInsurance"  (change)="onInsuranceSelected()">
               <option >--{{ "Select Insurance Scheme" }} --</option>
              <option *ngFor="let insurance of insuranceList" [value]="insurance.name">{{insurance.name}}</option>
            </select>
         </form>

         <div class="max-w-sm ml-10">
            <label  class="form-label">
               {{ "Starte Date" }}
            </label>
            <cha-date-picker (dataEvent)="receiveDateFrom($event)"></cha-date-picker>
         </div>
          <div class="max-w-sm ml-10">
            <label  class="form-label">
               {{ "End Date" }}
            </label>
            <cha-date-picker (dataEvent)="receiveDateTo($event)"></cha-date-picker>
         </div>
      </div>
   </div>


<data-table 
[rowData]="patients" 
[pageData]="pages" 
[columnData]="columnData"
[state]="state"
(showModal)="onModalShowHandler($event)"
 />


</div>
