<div [@pageTransition]>
<app-modal [show]="showModal" (closeModal)="onModalCloseHandler($event)">
        <div class="sm:flex sm:items-start">
            <div
                class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                </svg>
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">
                    Deactivate account
                </h3>
                <div class="mt-2">
                    <p class="text-sm text-gray-500">Are you sure you want to deactivate your account? All
                        of your data will be permanently removed. This action cannot be undone.</p>
                </div>
            </div>
        </div>
    </app-modal>

<div class="card p-5">
      <app-alert [show]="show" [type]="alertType.Danger">
         <p>{{alert_message}}</p>
      </app-alert>
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Select input</h3>
      </div>
      <div class="mt-5">
         <form class="max-w-sm">
            <label for="countries" class="form-label">
               Select Insurance
            </label>
            <select name="selectedInsurance" class="form-select" [(ngModel)]="selectedInsurance"  (change)="onInsuranceSelected()">
               <option >--Select Insurance Scheme --</option>
              <option *ngFor="let insurance of insuranceList" [value]="insurance.name">{{insurance.name}}</option>
            </select>


         </form>
         
      </div>
      <div class="flex">
         <div class="mt-5">
            <label  class="form-label">
                  Starte Date
            </label>
            <cha-date-picker (dataEvent)="receiveDateFrom($event)"></cha-date-picker>

         </div>
          <div class="mt-5 ml-5">
            <label  class="form-label">
                  End Date
            </label>
            <cha-date-picker (dataEvent)="receiveDateTo($event)"></cha-date-picker>

         </div>
      </div>
   </div>


<data-table 
[rowData]="patients" 
[pageData]="pages" 
[columnData]="columnData"
[state]="state"
(showModal)="onModalShowHandler($event)"
 />


</div>
